html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-base-100);
  overflow-x: hidden;
}

@import "tailwindcss";
@import "@workspace/ui/globals.css";
@plugin "@tailwindcss/typography";

html,
body {
  @apply select-none;
}
